{% extends 'base.html' %}



{% block page_content %}
{% if is_search %}
<div class="container">
    
    <div class="stock-banner">
        <div class="stock-info">
            <h1 class="stock-name">{{ stock_data['longName'] }}</h1>
            <h3 class="stock-code"> ({{ stock_data['symbol'] }})</h3>
        </div>
        <div class="stock-price">
            <h2>${{ stock_data['currentPrice']|round(2) }}</h2>
        </div>
    </div>

    <div>
        <label for="time-period">Select Time Period:</label>
        <select id="time-period" onchange="updateStockGraph(this.value)">
            <option value="1d">1 Day</option>
            <option value="5d">1 Week</option>
            <option value="1mo">1 Month</option>
            <option value="6mo" selected>6 Months</option>
            <option value="1y">1 Year</option>
            <option value="max">Max</option>
        </select>
    </div>

    <!-- code for displaying the graph-->
    <div id="stock-graph">{{ graph_div|safe }}</div>
    <h4>{{ stock_data['longBusinessSummary'] }}%</h4>
    
    <h2>Recent News</h2>
    <div class="row">
        {% for article in news_articles %}
        <div class="col-sm-12 col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ article['title'] }}</h5>
                    <p class="card-text flex-grow-1">{{ article['description'] }}</p>
                    <a href="{{ article['url'] }}" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<div class="stock-banner">
    <div class="stock-info">
        <h1 class="stock-name">{{ stock_data['longName'] }}</h1>
        <h3 class="stock-code"> ({{ stock_data['symbol'] }})</h3>
    </div>
    <div class="stock-price">
        <h2>${{ stock_data['currentPrice']|round(2) }}</h2>
    </div>
</div>

    <div>
        <label for="time-period">Select Time Period:</label>
        <select id="time-period" onchange="updateStockGraph(this.value)">
            <option value="1d">1 Day</option>
            <option value="5d">1 Week</option>
            <option value="1mo">1 Month</option>
            <option value="6mo" selected>6 Months</option>
            <option value="1y">1 Year</option>
            <option value="max">Max</option>
        </select>
    </div>

    <!-- code for displaying the graph-->
    <div id="stock-graph">{{ graph_div|safe }}</div>
    <h2>Recent News</h2>
    <div class="row">
        {% for article in news_articles %}
        <div class="col-sm-12 col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ article['title'] }}</h5>
                    <p class="card-text flex-grow-1">{{ article['description'] }}</p>
                    <a href="{{ article['url'] }}" target="_blank" class="btn btn-primary mt-auto">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        const stockHistory = JSON.parse(`{
        "1d": {{ stock_history_1d|tojson }},
        "5d": {{ stock_history_5d|tojson }},
        "1mo": {{ stock_history_1mo|tojson }},
        "6mo": {{ stock_history_6mo|tojson }},
        "1y": {{ stock_history_1y|tojson }},
        "max": {{ stock_history_max|tojson }}
    }`);

        function updateStockGraph(timePeriod) {
            const stockSymbol = "{{ stock_data['symbol'] }}";
            let stockData = stockHistory[timePeriod];

            if (stockData.length === 0 && timePeriod === '1d') {
                stockData = stockHistory['5d'];
                console.log('Falling back to 5-day data');
            }

            if (stockData.length === 0) {
                document.getElementById('stock-graph').innerHTML = '<p>No data available for the selected time period.</p>';
                return;
            }


            const dates = stockData.map(data => new Date(data.Date));
            const closingPrices = stockData.map(data => data.Close);

            const trace = {
                x: dates,
                y: closingPrices,
                mode: 'lines'
            };

            const layout = {
                title: `${stockSymbol} Stock Price (${timePeriod})`,
                xaxis: {
                    title: 'Date'
                },
                yaxis: {
                    title: 'Price (USD)'
                }
            };

            const data = [trace];

            Plotly.newPlot('stock-graph', data, layout);
        }
    </script>
{% endblock %}
